/*

!.gitignore
!README.md

!pakku.json
!pakku-lock.json

!config/
!defaultconfigs/
!options.txt
config/*.bak

!kubejs/
kubejs/*
!kubejs/startup_scripts/
!kubejs/server_scripts/
!kubejs/client_scripts/
